/* ============================
   LOGIN PAGE
============================ */

.login-page {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:
    radial-gradient(
      circle at 15% 15%,
      rgba(124, 92, 255, 0.3),
      transparent 35%
    ),
    radial-gradient(
      circle at 85% 10%,
      rgba(37, 99, 235, 0.25),
      transparent 30%
    ),
    radial-gradient(
      circle at 50% 100%,
      rgba(96, 165, 250, 0.15),
      transparent 45%
    ),
    linear-gradient(135deg, #050816 0%, #0b1023 35%, #141b3a 100%);
}

.login-page::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    radial-gradient(
      circle at 20% 80%,
      rgba(139, 92, 246, 0.18),
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 30%,
      rgba(59, 130, 246, 0.18),
      transparent 25%
    ),
    radial-gradient(
      circle at center,
      rgba(255, 255, 255, 0.04),
      transparent 100%
    );

  z-index: 0;
}

/* CLOCK  */

.background-clock {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 1;
}

.background-clock .clock {
  transform: scale(1.7);
  opacity: 0.1;
  filter: blur(2px) drop-shadow(0 0 60px rgba(100, 120, 255, 0.35));
}

/* CARD */
.login-card {
  position: relative;
  z-index: 10;
  width: 430px;
  padding: 50px 45px;
  border-radius: 32px;
  background: rgba(12, 18, 45, 0.65);
  backdrop-filter: blur(25px);
  border: 1px solid rgba(130, 150, 255, 0.15);
  border-color: rgba(124, 92, 255, 0.45);
  box-shadow:
    0 20px 60px rgba(0, 0, 100, 0.45),
    0 0 30px rgba(124, 92, 255, 0.18),
    inset 0 0 0 1px rgba(255, 255, 255, 0.04);
  transition:
    border-color 0.35s ease,
    box-shadow 0.35s ease,
    transform 0.35s ease;
}

/* HEADER\  */

.login-header {
  margin-bottom: 35px;
}

.login-header h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}

.login-header span {
  color: #7c5cff;
}

.login-header p {
  color: #bfc7e6;
  font-size: 1rem;
}
/* INPUTS */

.login-card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  position: relative;
}

.input-group input {
  width: 100%;
  max-width: 373px;
  height: 60px;
  padding: 0 0 0 55px;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(145, 126, 126, 0.04);
  color: #fff;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
}

.input-group input::placeholder {
  color: #7d89b5;
}

.input-group input:focus {
  border-color: #5c8eff;
  background: rgba(255, 255, 255, 0.08);

  box-shadow: 0 0 20px rgba(92, 142, 255, 0.25);
}

.input-icon {
  position: absolute;
  left: 20px;
  top: 50%;

  transform: translateY(-50%);

  color: #6b8cff;
  font-size: 20px;
}

/* OPTIONS */

.login-options {
  display: flex;
  justify-content: flex-end;
}

.login-options a {
  color: #bfc7e6;
  text-decoration: none;
  transition: 0.3s;
}

.login-options a:hover {
  color: #9f88ff;
}

/* BUTTON */

.login-card button {
  width: 100%;
  height: 58px;
  margin-top: 10px;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  background: linear-gradient(90deg, #7c3aed, #2563eb);
  transition: 0.35s;
}

.login-card button:hover {
  transform: translateY(-2px);

  box-shadow: 0 10px 35px rgba(80, 110, 255, 0.45);
}

/* RESPONSIVO */

@media (max-width: 500px) {
  .login-card {
    width: 90%;
    padding: 35px 25px;
  }

  .background-clock .clock {
    transform: scale(1.2);
  }
}
