/* HEADER */

.login-header {
  text-align: center;
  margin-bottom: 25px;
}

.login-header h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  color: #0051ff;
}

.login-header p {
  color: rgb(50, 50, 50);
  font-weight: bold;

}

/* INPUTS */

.login-card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 390px;

}

/* OPTIONS */

.login-options {
  display: flex;
  justify-content: flex-end;
  padding-right: 9px;
}

.login-options a {
  color: #0147de;
  text-decoration: none;
  transition: .3s;
}

.login-options a:hover {
  color: rgb(0, 43, 160);
}

/* CLOCK */

.background-clock {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 1;
}

.background-clock .clock {
  transform: scale(1.3);
}

/* RESPONSIVO */

@media (max-width:500px) {
  .login-card {
    width: 90%;
    padding: 35px 25px;
  }

  .background-clock .clock {
    transform: scale(1.2);
  }
}