.main-register-title button {
  width: 200px;
  border: none;
  border-radius: 10px; 
  background: var(--gradient-accent); 
  color: white;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition: 0.3s;
  font-weight: bold;
}

.main-register-title button:hover {
  background: #4338ca;
  transform: scale(1.03);
}

.menu-information {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 50px;
}
