.Manager-title div {
  display: flex;
  gap: 25px;
}

.approved-btn,
.rejected-btn {
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 0.95rem;
  font-weight: bold;
  cursor: pointer;
  transition:
    transform .25s ease,
    box-shadow .25s ease,
    filter .25s ease;
}

.approved-btn {
  background: #4f46e5;
  border: 2px solid #15803d;
}

.rejected-btn {
  background: #ff00008a;
  border: 2px solid #dc2626a5;
}

.approved-btn:hover {
  transform: translateY(-3px);
  filter: brightness(1.05);
  box-shadow: 0 10px 15px #4e46e582;
}

.rejected-btn:hover {
  transform: translateY(-3px);
  filter: brightness(1.05);
  box-shadow: 0 10px 15px rgba(239, 68, 68, .35);
}

.approved-btn:active,
.rejected-btn:active {
  transform: translateY(1px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
}