* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    width: 80px;
    height: 100vh;
    background: #fff;
    border-right: 1px solid #e5e7eb;
    box-shadow: 2px 0 18px rgba(0, 0, 0, 0.08);
    transition: width .35s ease;
    overflow: hidden;
}

.sidebar.open {
    width: 280px;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.sidebar-header {
    padding: 0px;
}

.sidebar.open .sidebar-header {
    padding: 20px;
}

.logo {
    font-size: 15px;
    white-space: nowrap;
}

.logo-icon {
    display: flex;
    align-items: center;
    font-size: 25px;
}

.toggle-btn {
    margin: 10px 10px 15px 10px;
    width: 58px;
    height: 38px;
    border: none;
    background: #f3f4f6;
    border-radius: 10px;
    cursor: pointer;
    transition: width .3s ease, background-color .3s ease, color .3s ease;
}

.toggle-btn:hover {
    background: #4361ee;
    color: #fff;
}

.sidebar.open .toggle-btn {
    width: 45px;
    margin: 0px;
}
.menu {
    flex: 1;
    list-style: none;
    padding: 10px;
}

.menu li {
    margin-bottom: 6px;
}

.menu-link-list-on,
.menu-link-list-off {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 16px 18.5px;
    border-radius: 12px;
    text-decoration: none;
    transition: .25s;
}

.menu-link-list-off {
    color: black;
}

.menu-link-list-on {
    background: #eef2ff;
    color: #4361ee;
    font-weight: 600;
}

.menu-link-list-on:hover,
.menu-link-list-off:hover {
    background: #eaeaff;
}

.menu svg {
    font-size: 22px;
    min-width: 22px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 20px;
    border-top: 1px solid #e5e7eb;
}

.profile-icon {
    font-size: 40px;
    color: #4361ee;
}

.profile-info h4 {
    font-size: 15px;
}

.profile-info p {
    font-size: 12px;
    color: #6b7280;
}

.leave {
    margin: 10px;
}

.menu-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 14px;
    border-radius: 12px;
    text-decoration: none;
    color: #dc2626;
    transition: .25s;
}

.menu-link:hover {
    background: #fee2e2;
}

.leave-icon {
    font-size: 22px;
}

.menu span,
.logo,
.profile-info {
    animation: fade .25s ease;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateX(-8px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}